node_modules
*.js
!docs/jsdoc/templates/**/*.js
!docs/lib/**/*.js
*.map
dist/
.idea/
coverage/

# emacs backup files
*~
.DS_Store

.vscode/
tsconfig.tsbuildinfo
test-report.html
src/lang
!src/lang/C.g4
!src/lang/originalC.g4